h1{
    text-align: center;
    font-size: 100px;
    
}
.main{
    height: 300px;
    width: 500px;
    margin: auto;
}
.Black{
    height: 100px;
    width: 500px;
    background-color:black ;
}
.Red{
    height: 100px;
    width: 500px;
    background-color:rgba(237, 27, 36) ;
}
.Yellow{
    height: 100px;
    width: 500px;
    background-color:rgba(253, 206, 98) ;
}
a{
    color: black;
    text-decoration: none;
}